<div class="container">
	<div class="card rerun">
		<form (submit)="absenteService.GetAbsente()">
			<div class="button-container">
				<input type="submit" style="padding:20px; background:white;color:tomato;border:2px solid tomato;" value="Update">
			</div>
		</form>

		<form (submit)="updateLive($event)">
			<div class="button-container">
				<input type="submit" style="padding:20px; background:white;color:tomato;border:2px solid tomato;" value="Update Live">
			</div>
		</form>

		<form (submit)="addAbsente($event)">
			<div class="input-container">
			<input type="text" placeholder= "Date" id="Date" />
			<div class="bar"></div>
			</div>
			<select id=TeacherIdDropDown (change)="teacherChanged($event.target.value)">
				<option [value]="teacher.teacherId" *ngFor= "let teacher of teacherService.teachers | async" >
				{{teacher.teacherId}}
				{{teacher.firstName}}
				{{teacher.lastName}}
				{{teacher.email}}
				</option>
			</select>
			
			<select id=StudentIdDropDown (change)="studentChanged($event.target.value)">
				<option [value]="student.studentId" *ngFor= "let student of studentService.students | async" >
				{{student.studentId}}
				{{student.firstName}}
				{{student.lastName}}
				{{student.email}}
				</option>
			</select>
			
			<select id=ClasseIdDropDown (change)="classeChanged($event.target.value)">
				<option [value]="classe.classeId" *ngFor= "let classe of classeService.classes | async" >
				{{classe.classeId}}
				{{classe.teacherId}}
				{{classe.classRoomId}}
				{{classe.name}}
				</option>
			</select>
			
			<div class="button-container">
				<input type="submit" style="padding:20px; background:white;color:tomato;border:2px solid tomato;" value="Add">
			</div>
		</form>

		<tbody>
			<tr>
				<th>
					AbsenteId
				</th>
				<th>
					ClasseId
				</th>
				<th>
					StudentId
				</th>
				<th>
					TeacherId
				</th>
				<th>
					Date
				</th>
				<th>
					CreationTime
				</th>
				<th>
					teacher.TeacherId
				</th>
				<th>
					teacher.FirstName
				</th>
				<th>
					teacher.LastName
				</th>
				<th>
					teacher.Email
				</th>
				<th>
					teacher.CreationTime
				</th>
				<th>
					student.StudentId
				</th>
				<th>
					student.FirstName
				</th>
				<th>
					student.LastName
				</th>
				<th>
					student.Email
				</th>
				<th>
					student.CreationTime
				</th>
				<th>
					classe.ClasseId
				</th>
				<th>
					classe.TeacherId
				</th>
				<th>
					classe.ClassRoomId
				</th>
				<th>
					classe.Name
				</th>
				<th>
					classe.CreationTime
				</th>
			</tr>
			<tr *ngFor="let absente of absenteService.absente | async; let i = index">
				<td>
					{{absente.absenteId}}
				</td>
				<td>
					{{absente.classeId}}
				</td>
				<td>
					{{absente.studentId}}
				</td>
				<td>
					{{absente.teacherId}}
				</td>
				<td>
					{{absente.date}}
				</td>
				<td>
					{{absente.creationTime}}
				</td>
				<td *ngIf="absente.teacher">
					{{absente.teacher.teacherId}}
				</td>
				<td *ngIf="absente.teacher">
					{{absente.teacher.firstName}}
				</td>
				<td *ngIf="absente.teacher">
					{{absente.teacher.lastName}}
				</td>
				<td *ngIf="absente.teacher">
					{{absente.teacher.email}}
				</td>
				<td *ngIf="absente.teacher">
					{{absente.teacher.creationTime}}
				</td>
				<td *ngIf="absente.student">
					{{absente.student.studentId}}
				</td>
				<td *ngIf="absente.student">
					{{absente.student.firstName}}
				</td>
				<td *ngIf="absente.student">
					{{absente.student.lastName}}
				</td>
				<td *ngIf="absente.student">
					{{absente.student.email}}
				</td>
				<td *ngIf="absente.student">
					{{absente.student.creationTime}}
				</td>
				<td *ngIf="absente.classe">
					{{absente.classe.classeId}}
				</td>
				<td *ngIf="absente.classe">
					{{absente.classe.teacherId}}
				</td>
				<td *ngIf="absente.classe">
					{{absente.classe.classRoomId}}
				</td>
				<td *ngIf="absente.classe">
					{{absente.classe.name}}
				</td>
				<td *ngIf="absente.classe">
					{{absente.classe.creationTime}}
				</td>
			</tr>
		</tbody>

		<form (submit)="getAbsenteByAbsenteId($event)">
			<h3>Get Absente by AbsenteId</h3>
			<div class="input-container">
			<input type="text" placeholder= "AbsenteId" id="AbsenteId" />
			<div class="bar"></div>
			</div>
			<div class="button-container">
				<input type="submit" style="padding:20px; background:white;color:tomato;border:2px solid tomato;" value="Get by AbsenteId">
			</div>
		</form>
		

	</div>
</div>
