<div class="container">
	<div class="card rerun">
		<form (submit)="classeService.GetClasses()">
			<div class="button-container">
				<input type="submit" style="padding:20px; background:white;color:tomato;border:2px solid tomato;" value="Update">
			</div>
		</form>

		<form (submit)="updateLive($event)">
			<div class="button-container">
				<input type="submit" style="padding:20px; background:white;color:tomato;border:2px solid tomato;" value="Update Live">
			</div>
		</form>

		<form (submit)="addClasse($event)">
			<div class="input-container">
			<input type="text" placeholder= "Name" id="Name" />
			<div class="bar"></div>
			</div>
			<select id=ClassRoomIdDropDown (change)="classRoomChanged($event.target.value)">
				<option [value]="classRoom.classRoomId" *ngFor= "let classRoom of classRoomService.classRooms | async" >
				{{classRoom.classRoomId}}
				{{classRoom.name}}
				</option>
			</select>
			
			<select id=TeacherIdDropDown (change)="teacherChanged($event.target.value)">
				<option [value]="teacher.teacherId" *ngFor= "let teacher of teacherService.teachers | async" >
				{{teacher.teacherId}}
				{{teacher.name}}
				{{teacher.email}}
				</option>
			</select>
			
			<div class="button-container">
				<input type="submit" style="padding:20px; background:white;color:tomato;border:2px solid tomato;" value="Add">
			</div>
		</form>

		<tbody>
			<tr>
				<th>
					ClasseId
				</th>
				<th>
					TeacherId
				</th>
				<th>
					ClassRoomId
				</th>
				<th>
					Name
				</th>
				<th>
					CreationTime
				</th>
				<th>
					classRoom.ClassRoomId
				</th>
				<th>
					classRoom.Name
				</th>
				<th>
					classRoom.CreationTime
				</th>
				<th>
					teacher.TeacherId
				</th>
				<th>
					teacher.Name
				</th>
				<th>
					teacher.Email
				</th>
				<th>
					teacher.CreationTime
				</th>
			</tr>
			<tr *ngFor="let classe of classeService.classes | async; let i = index">
				<td>
					{{classe.classeId}}
				</td>
				<td>
					{{classe.teacherId}}
				</td>
				<td>
					{{classe.classRoomId}}
				</td>
				<td>
					{{classe.name}}
				</td>
				<td>
					{{classe.creationTime}}
				</td>
				<td *ngIf="classe.classRoom">
					{{classe.classRoom.classRoomId}}
				</td>
				<td *ngIf="classe.classRoom">
					{{classe.classRoom.name}}
				</td>
				<td *ngIf="classe.classRoom">
					{{classe.classRoom.creationTime}}
				</td>
				<td *ngIf="classe.teacher">
					{{classe.teacher.teacherId}}
				</td>
				<td *ngIf="classe.teacher">
					{{classe.teacher.name}}
				</td>
				<td *ngIf="classe.teacher">
					{{classe.teacher.email}}
				</td>
				<td *ngIf="classe.teacher">
					{{classe.teacher.creationTime}}
				</td>
			</tr>
		</tbody>

		<form (submit)="getClassesByClassRoomId($event)">
			<h3>Get Classes by ClassRoomId</h3>
			<div class="input-container">
			<input type="text" placeholder= "ClassRoomId" id="ClassRoomId" />
			<div class="bar"></div>
			</div>
			<div class="button-container">
				<input type="submit" style="padding:20px; background:white;color:tomato;border:2px solid tomato;" value="Get by ClassRoomId">
			</div>
		</form>
		
		<form (submit)="getClassesByClasseId($event)">
			<h3>Get Classes by ClasseId</h3>
			<div class="input-container">
			<input type="text" placeholder= "ClasseId" id="ClasseId" />
			<div class="bar"></div>
			</div>
			<div class="button-container">
				<input type="submit" style="padding:20px; background:white;color:tomato;border:2px solid tomato;" value="Get by ClasseId">
			</div>
		</form>
		

	</div>
</div>
